<header class="flex  flex-row flex-gap-30 items-center  justify-around px-4 border-b py-2">
  <!--Logo-->
  <div class="pr-20 border-r">
    <img routerLink="/"  class="cursor-pointer" src="../../../../assets/logo-1.png" width="120px"alt="Logo universidad de Córdoba">
  </div>
  <h1 class="text-red-700 text-3xl font-bold text-center">SISTEMA DE GESTIÓN DE <br/> PLANES DE MEJORA</h1>
  <div class="pl-20 border-l">
    <img routerLink="/"  class="cursor-pointer" src="../../../../assets/logo-2.png" width="115px"alt="Logo universidad de Córdoba">
  </div>
</header>
