<app-nav-bar-administrator />
<div class="m-10 flex flex-col justify-center items-center ">
  <section class="  w-[151vh] m-3 p-4 flex flex-col  bg-red-700 rounded">
    <div class="card font-bold text-xl text-white"> Bienvenido/a {{infoUser()?.name}},</div>
    <div class="card text-white"> Esta es el Área de Administración en el Sistema de Gestión de Planes de Mejora y Convocatorias de Apoyo </div>
  </section>
  <div class="flex flex-row">
    <section class="  w-[74vh] m-3 p-5 flex flex-col justify-center items-center bg-yellow-500 rounded">
      <div class="card font-bold text-xl "> Número de usuarios en el sistema</div>
      <div class="card">{{users()}} </div>
    </section>
    <section class="  w-[74vh] m-3 p-5 flex flex-col justify-center items-center bg-yellow-500 rounded">
      <div class="card font-bold text-xl"> Número de centros, titulos, masters o doctorados en el sistema</div>
      <div class="card">{{degrees()}} </div>
    </section>
  </div>
  <section class="  w-[151vh] m-3 p-4 flex flex-col justify-center items-center bg-gray-500 rounded">
    <div class="card font-bold text-white"> Nota Importante </div>
    <div class="card text-white">Para visualizar con más detalle los usuarios y centros, debes acceder a través de la barra de navegación </div>
  </section>
</div>

