<main class="flex-grow flex flex-col">
<nav-bar-home />
<div
  class="hero h-[calc(100vh-225px)]   min-h w-full bg-cover bg-center bg-no-repeat"
  style="background-image: url('/assets/Rectorado.jpg');"
>

  <div class="hero-overlay"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="p-20 content-box bg-white/40 rounded-xl p-8 shadow-lg">
      <h1 class="text-xl text-black font-bold">
        Bienvenido al Sistema de Gestión de Planes de Mejora <br />
        de la Universidad de Córdoba
      </h1>
    </div>
  </div>
</div>
</main>
