<main class="flex-grow flex flex-col">
<nav-bar-home />
<div class="section flex flex-col m-4 text-blue-900">
  <h1 class="font-bold font-[20px]"> DIRECCIÓN Y CONTACTO</h1>
  <h2 class="m-4">UBICACIÓN:</h2>
  <h1 class="font-bold mx-8">ÁREA DE CALIDAD:</h1>
  <p class="mx-8 text-black">Universidad de Córdoba - Rectorado (1º planta oeste)</p>
  <p class="mx-8 text-black">Avda. Medina Azahara, 5 · 14005 Córdoba (España)</p>
  <h2 class="m-4">CONTACTA CON NOSOTROS:</h2>
  <p class="mx-4 text-black"><a class="font-bold ">- Convocatoria de Apoyo a Planes de Mejora de los títulos oficiales: </a>95721<a class="font-bold">8404</a> / servicio.calidad&#64;uco.es</p>
  <p class="mx-4 text-black"><a class="font-bold ">- Administrador del sistema: </a> servicio.calidad&#64;uco.es</p>
  <p class="mx-8 text-black"><a class="font-bold ">Nota: </a> Debes contactar con el Administrador para cuarquier duda relacionada con los usuarios o centros del sistema</p>
</div>

</main>

